.footer{
    .social-link{
        background-color: #212121;
    }
    .footer-links hr{
        width: 2p;
        height: 3px;
    }
    .copy-right-info{
        background-color: #212121;
    }
}    