@mixin gradient{
    background: $secondary;
    background: -webkit-linear-gradient(
        to right,
        $secondary,
        $primary
    );

    background: linear-gradient(
        to right,
        $secondary,
        $primary
    );
}